@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@100&display=swap');

body {
  margin: 0;
  font-family: -apple-system, 'Texturina', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
